/* enable tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 页面上下安全距离，兼容全面屏，默认为 iOS 的自带环境变量 */
  /* 如果要兼容安卓全面屏，需使用 js 计算后修改此变量的值 */
  --enc-safe-area-inset-top: env(safe-area-inset-top);
  --enc-safe-area-inset-bottom: env(safe-area-inset-bottom);

  /*
    transition 过渡的速率，默认为 1
    后续组件中的 transition-duration 需写为计算 --transition-rate * 设计时间
    例如：
      transition: all calc(var(--transition-rate) * 0.5s) ease-in-out;
    可以通过 js 修改此变量控制所有 transition 的过渡速率，加快或减慢
  */
  --enc-transition-rate: 1;
  /* 同上 */
  --enc-animation-rate: 1;

  --enc-background-color: #f5f5f5;
  --enc-primary-color: #409eff;

  --enc-radio-size: 16px;
  --enc-checkbox-size: 16px;
  --enc-switch-size: 20px;
}
