/* colors */
:root {
  --enc-background-color: #f5f5f5;
  --enc-primary-color: #409eff;
}

/* transition / animation */
:root {
  --enc-transition-rate: 1;
  --enc-transition-duration: 300ms;
  --enc-transition-timing-function: ease-in-out;
  --enc-animation-rate: 1;
  --enc-animation-duration: 300ms;
  --enc-animation-timing-function: ease-in-out;
}

/* safe area */
:root {
  /* 页面安全距离，兼容全面屏，默认为 iOS 的自带环境变量 */
  /* 如果要兼容安卓全面屏，需使用 js 计算后修改此变量的值，UI Package 自己实现 */
  --enc-safe-area-inset-top: env(safe-area-inset-top);
  --enc-safe-area-inset-bottom: env(safe-area-inset-bottom);
  --enc-safe-area-inset-left: env(safe-area-inset-left);
  --enc-safe-area-inset-right: env(safe-area-inset-right);
}

/* scrollbar */
:root {
  --enc-scrollbar-size: 5px;
  --enc-scrollbar-color: rgba(0, 0, 0, 0.3);
  --enc-scrollbar-hover-color: rgba(0, 0, 0, 0.8);
  --enc-scrollbar-inactive-color: rgba(0, 0, 0, 0.2);
  --enc-scrollbar-border-width: 0px;
  --enc-scrollbar-border-style: solid;
  --enc-scrollbar-border-color: transparent;
  --enc-scrollbar-border-radius: 5px;
  --enc-scrollbar-track-color: transparent;
}

/* 只设置 PC 端默认滚动条样式 */
@media only screen and (min-width: 768px) {
  :root {
    overflow-y: overlay;
  }
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: var(--enc-scrollbar-size);
    height: var(--enc-scrollbar-size);
  }
  ::-webkit-scrollbar-thumb {
    border: var(--enc-scrollbar-border-width) var(--enc-scrollbar-border-style)
      var(--enc-scrollbar-border-color);
    border-radius: var(--enc-scrollbar-border-radius);
    background-color: var(--enc-scrollbar-color);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--enc-scrollbar-hover-color);
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background-color: var(--enc-scrollbar-inactive-color);
  }
  ::-webkit-scrollbar-track {
    background-color: var(--enc-scrollbar-track-color);
  }
}
